# ===== IDE =====
.idea/
.vscode/

# ===== ENV =====
.env
*.env
backend/.env
frontend/.env

# ===== BUILD =====
target/
backend/target/

# ===== NODE =====
node_modules/
frontend/node_modules/

# ===== LOGS =====
*.log
hs_err_pid*
replay_pid*

# ===== OS =====
.DS_Store

# ===== OPTIONAL =====
coverage/
build/
backend/HELP.md